<html>
<head>
   <title>SOME TABLE TITLE</title>
</head>
<body bgcolor="BLUE, GREEN">
   <H1 align="center">
        <FONT COLOR="BLUE"> SOME TABLE TITLE </FONT>
   </H1>
 
<table border="3" cellspacing="8" align="center">

<tr bgcolor="red,">
      <td align="center"> range / info
      <td align="center"> First Name
      <td align="center"> Last Name 
      <td align="center"> Country
      <td align="center"> Expertise 
      <td align="center"> Status 
      <td align="center"> Age 
      <td align="center"> Salary 
      <td align="center"> Career 
</tr>
 
<tr bgcolor="#ffaa7f"> 
   <td align="center" bgcolor="##00ff00">1
   <td align="center"> Donnie
   <td align="center"> Shimwall 
   <td align="center"> Albania
   <td align="center"> Dentist 
   <td align="center"> Master
   <td align="center"> 45
   <td align="center"> $5400.0 
   <td align="center"> more than 7 years

</tr>
<tr bgcolor="#ffaa7f">
   <td align="center" bgcolor="#00ff00">2
   <td align="center"> Viviene 
   <td align="center"> Biscomb 
   <td align="center"> Australia
   <td align="center"> Agriculture 
   <td align="center"> Junior
   <td align="center"> 32
   <td align="center"> $3000.0 
   <td align="center"> more than 1 year
</tr>
<tr bgcolor="#ffaa7f">  
   <td align="center" bgcolor="#00ff00">3
   <td align="center"> Hailey 
   <td align="center"> Thurske 
   <td align="center"> Austria
   <td align="center"> Teacher 
   <td align="center"> Middle 
   <td align="center"> 54 
   <td align="center"> $1850.0 
   <td align="center"> about 3 years 
</tr>
<tr bgcolor="#ffaa7f">
   <td align="center" bgcolor="#00ff00">4
   <td align="center"> Sapphira 
   <td align="center"> Napolione 
   <td align="center"> Afghanistan
   <td align="center"> Business 
   <td align="center"> Middle
   <td align="center"> 47 
   <td align="center"> $2500.0 
   <td align="center"> about 2 years 
</tr>
<tr bgcolor="#ffaa7f">
   <td align="center" bgcolor="#00ff00">5
   <td align="center"> Mellie 
   <td align="center"> Moxley 
   <td align="center"> Andorra
   <td align="center"> Police officer 
   <td align="center"> Master
   <td align="center"> 28 
   <td align="center"> $3500.0
   <td align="center"> lass than 2 years 
</tr>

<tr bgcolor="#ffaa7f">
   <td align="center" bgcolor="#00ff00">6
   <td align="center"> Anna
   <td align="center"> Stuck
   <td align="center"> Argentina
   <td align="center"> Barber 
   <td align="center"> Junior
   <td align="center"> 23 
   <td align="center"> $1000.0 
   <td align="center"> more than 1 year 
   
<tr bgcolor="#ffaa7f">
   <td align="center" bgcolor="#00ff00">7
   <td align="center"> Shurlock 
   <td align="center"> Smewings 
   <td align="center"> Brazil
   <td align="center"> Physician 
   <td align="center"> Middle 
   <td align="center"> 36 
   <td align="center"> $1400.0
   <td align="center"> about 2 years
</tr>

</body>
</html>